@import "./variables.scss";

body {
  font-size: 16px;
  margin: 0;
  color: #192027;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  font-size: 16px;
}

.w-100 {
  width: 100%;
}

.wrapper {
  .button-rf {
    padding: 0.7rem 1.5rem;
    border-radius: 24px;
    border: none;
    background: $main-color;
    background-color: $main-color;
    color: #192027;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $main-color-1;
    }

    &__strict {
      border-radius: 4px;
      padding: 0.5rem 1.5rem;
    }
  }
}

.outlined-input-rf {
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $main-color;
  } 
}
