$toolbar-item-hover-bg: rgba(255, 219, 0, 0.25);
$toolbar-item-color: #7d8894;
$toolbar-item-color-active: #000;

.toolbar-logo {
  padding: 30px;
}

.toolbar-items {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  margin-top: 20px;

  &__navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__badge {
    display: flex;
    align-items: center;
    margin: 25px 0 25px 30px;

    &__avatar {
      img {
        border: 1px solid #ccc;
        border-radius: 50%;
        height: 35px;
        width: 35px;
      }
    }

    &__title {
      margin-left: 0.6rem;
    }
  }

  .MuiList-root {
    padding-left: 18px;

    .MuiListItem-root {
      color: $toolbar-item-color;
      transition: 0.2s;
      border-radius: 30px 0px 0px 30px;

      .MuiListItemIcon-root svg path {
        fill: $toolbar-item-color;
      }

      &:hover {
        color: $toolbar-item-color-active;
        background: $toolbar-item-hover-bg;

        .MuiListItemIcon-root svg path {
          fill: $toolbar-item-color-active;
        }
      }
    }

    .MuiListItem-gutters {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
